body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-color: hsl(273, 75%, 66%);
}

h1 {
    text-align: center;
}

h2 {
    font-size: 12px;
    margin: 1.5em auto;
}

.faq-card {
    border: solid hsl(273, 75%, 66%) 1px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
}

.woman-online {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion {
    border-bottom: solid hsl(240, 5%, 91%) 1px;
}

.arrow-toggle{
    float: right;
}

@media only screen and (max-width: 600px) {
    .woman-desktop {
        display: none;
    }

    .woman-mobile {
        margin-top: -9em;
        margin-left: -2.5em;
    }

    .woman-online {
        background-image: url("images/bg-pattern-mobile.svg");
    }

    .faq-card {
        margin-top: 10em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .accordion {
        margin: auto 2em;
    }

    .answer{
        display: none;
    }

}